<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
	<p>ログイン</p>
	<p th:if="${ErrorMessage!=null}" th:text="${ErrorMessage}">
    <form th:action="@{/login}" method="post">
      <div >ユーザー名</div>
        <input type="text" id="username" name="username" placeholder="ユーザ名" required autofocus>
      <div >パスワード</div>
		<input type="password" id="password" name="password" placeholder="パスワード" required>
      <div ><button type="submit">ログイン</button></div>
    </form>
</body>
</html>